* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}
.PrimaryContainer{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #000000;
    

    & .ImgLeft {
        width: 50%;
        height: 100vh;
        /* background-color: black; */

        & .FirstImgFloat{
            width: auto;
            height: 100%;
            display: flex;
            position: absolute;
            opacity: .5;
            filter: blur(2px);

            & img{
                width: 100%;
                height: auto;
            }
        }

        & .SecondImgFloat{
            width: 500px;
            height: 500px;
            position: absolute;
            top: 1rem;
            margin-left: 30%;
            
            & img{
                width: 100%;
                height: 100%;
                opacity: .5;
                border-radius: 50%;
                border: 2px solid rgb(255, 252, 252);
                transition: all .5s ease-in-out;
            }
        }
    }

    .img:hover{
        transform: scale(1.05);
    }

    
}

/* formulário de cadastros de novos clientes */

 & .ContainerCadastro{
    width: 35pc;
    height: 75vh;
    background-color: rgb(44, 44, 53);
    position: absolute;
    right: 5rem;
    top: 5em;
    border-radius: 15px;
    opacity: 1;
    transition: all .5s ease-in-out;

    & .TitleCadastro{
        width: 100%;
        height: 70px;
        display: block;
        align-items: center;
        justify-content: center;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 1.5rem;

        & h1{
            color: #ff9200;
            display: flex;
            justify-content: center;
        }
    }
}

.ContainerCadastro:hover{
    opacity: .6;
    border: 1px solid white;
}

.ContainerForm{
    /* width: 100%; */
    height: 90%;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

form{
    width: 100%;
    height: 100%;
}

.FormItens{
    /* background-color: #ff9200; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 30px;

    & label{
        color: rgb(255, 255, 255);

        font-size: 1.5rem;
        z-index: 1;
    }

    & input{
        width: 80%;
        height: 3rem;
        position: relative;
        border: none;
        outline: none;
        background-color: transparent;
        padding-left: 10px;
        font-size: 1.1rem;
        letter-spacing: 2px;
        color: white;
    }

    & input:focus{
        border: 80%;
        border-bottom: 2px solid #ff9200;
    }
}


.luz{
    width: 90%;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 80%;
    filter: blur(10em);
}

