@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Antic+Didone&display=swap');

*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}


.box{
    width: 100%;
    height: 7rem;
    background-color: rgba(26, 23, 21, 0.9);
    display: flex;
    backdrop-Filter: saturate(200%) blur(200px);
    border-bottom: 3px solid #c4c2c2;
    position: fixed;
}

.logo{
    width: 10%;
    height: 7rem;
    display: flex;
    margin-left: 10%;
    margin-right: 8%;
    align-items: center;
    justify-content: center;
}

.logo img{
    max-width: 100%;
    max-height: 7rem;
}

.container-navegacao{
    width:80% ;
    height: 7rem;
    margin-left: 5%;
    display: inline;
}

.box-pesquisa{
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-pesquisa input{
    width: 100%;
    height: 60%;
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 22px;
    color: rgba(26, 23, 21, 0.7);
    font-family: Anonymous+Pro;
    padding-left: 30px;
    margin-right: 4.7em;
}
.box-pesquisa input:hover{
    transform: scale(1.03);
    transition: all 0.5s;
}

.box-list{
    width: 100%;
    height: 3.5rem;
}
.box-list ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
}
.box-list ul li{
    flex: 1;
    margin-top: 1.5em;
}
.box-list ul li:hover{
     transform: scale(1.02);
    transition: all .7s;
}
.box-list ul li a:hover{
    color: #FF9200;
}

.box-list ul li a{
    color: #c4c2c2;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    font-family: Anonymous+Pro;

}







.container-carrinho-login{
    width: 20%;
    height: 7rem;
}